.grid-container{
    display:grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
.item1{
    margin-top: 40px;
    margin-left: 30px;
}
.logo{
    height: 60px;
    width: auto;
}
.banner{
    height: auto;
    max-width: 100%;
}
.links{
    float: right;
    height: 15px;
    width:15%;
    text-decoration :none;
    text-align: center;
    padding: 20px;
    color: black;
}
.signup{
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-right: 50px;
}
h1{
 margin-bottom: 0px; 
 margin-top: 50px;  
}
h2{
    color: gray;
    margin: 0px;
}
.locationinput{
    width: 70%;
    height: 25px;
    color: #535665;
    margin-top: 40px auto auto 0px;
    padding: 10px;
    font-size: 18px !important;
    font-weight: 500;

}
.location{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 255px;
    left: 450px;
    padding: 15px;
    cursor: pointer;
}
.location:hover{
    background-color: lightgrey;
}
.button:hover{
    background-color: lightgray;
}
.findfood{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0 2rem;
    letter-spacing: 0;
    color: white;
    background-color: #fc8019;
    line-height: 50px;

}
.cities{
    font-size: 15px;
    color: #a9abb2;
    margin: 30px 0 10px 0;
    letter-spacing:-.2px;
    text-transform: uppercase;
}
.citylist{
    width: 570px;
    list-style: none;
    margin-top: 20px;
    padding:2px;
}
.list{
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color: #686b78;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
.list:nth-child(even){
color: lightslategray;
}
.info-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:#050201;
    font-size: 16px;
    font-weight: 500px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
}
.text-head{
    color: white;
    text-align: center;
}
.text-para{
color: white;
text-align: center;
margin-left: 100px;
width: 300px;
}
.rest{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.rest img{
    width: 32%;

}
.rest .text h1{
    margin-top: 200px;
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    line-height: 1;
    margin-left: 40px;


}
.rest .text p{
    
    margin-left: 40px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-top: 11px;
    font-size: 20px;
    width: 400px;
    color: #7e808c;
}
.rest .text img{
    margin-top:22px;
    border-radius: 4px ;
     margin-left: 40px;
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 44px;
}
.footer .list{
    margin-inline: 33px;
}
.footer .list img{
    width: 53%;
    border:2px solid white;
    border-radius: 4px;
    margin-top: 11px;
}